html,
body,
svg {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#drawing {
    border: 1px solid #ccc;
    background: transparent;
}

#box {
    cursor: crosshair;
}

path {
    fill: transparent;
    stroke: black;
}